[Bb]in/
[Oo]bj/
[Ll]og/
[Vv]s/
*.user
*.userosscache
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.[Cc]ache
*.bak
*.tmp
*.err
*.vsw
*.pdb
.idea/
*.dbmdl
_ReSharper*/
*.csproj.user
*.[Pp]ublish.xml
*.psess
.vs/
